.big_4container__main {
  overflow-y: scroll;
  height: 100%;
}

.Big4_container_box {

  width: 98%;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  transition: background-color 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
  font-size: small;
  font-weight: 600;
  
}

.inactive {
  background-color: white;
}
.afteractive {
  background-color: rgb(34, 9, 146);
  color: white;
}
