*{
    margin: 0;
    padding: 0;
}
.finance__main{
    
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    
}

.finance__container{
    /* border: 2px solid green; */
    
    
    width: 100%;
    background-color: #F5F5F5;
}

.finance_main_container{
    background-color: white;
    width: 80%;
    margin: 30px 50px;
    height: 100%;
   
    /* border: 2px solid red; */
}

.finance_progressbar_container{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: auto;
}

.finance_both_table{
      width: 90%;
      margin: auto;
      border-radius: 15px;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
     
      
      
}

.finance_amount_receivable_table{
    flex: 0.45;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    overflow-y: scroll;
    padding-bottom: 30px;
    max-height: 500px;
}

.finance_amount_payable_table{
    flex: 0.45;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    overflow-y: scroll;
    padding-bottom: 30px;
    max-height: 500px;
}

.finance_receivable_company{
    margin-top: 15px;
}

.finance_payable_company{
    margin-top: 15px;
}

.finance_amount_receivable_table small{
    padding: 0px;
}






@media screen and (max-width: 1100px) {
    .finance_main_container {
      width: 100%;
      margin: 50px 0px;
    }
  }


  
@media screen and (max-width: 700px) {
    .finance_both_table {
     flex-direction: column;
    }
    .finance_amount_payable_table{
        margin-top: 20px;
    }
  }