.sidebar_profile_imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10PX;

}

#nav_profile{
    font-size: small;
    text-decoration-line: none;
}


small {
    padding: 10PX;
}
.sidebar_nav_item{
    list-style: none;
    text-decoration: none;

}

.sidebar_profile_icon_list ul li{
    /* border: 2px solid green; */
    height: auto;
    width: 200px;

    margin-top: 10px;
    
    
}

.icon{
    color:gray;
}
.sidebar_nav_item >  a{
   text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(3, 0, 0);
    /* border:2px solid  hotpink; */
    width: 90%;
    height:25px;
    margin: auto;

}
.sidebar_profile_icon_list ul li:hover{
    color: rgb(6, 6, 167);
    border-left: 3px solid rgb(7, 7, 128);
 }



