.filled_cylinder__main {
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

.filled_cylinder__container {
  width: 100%;
  background-color: #f5f5f5;
}
.filled_cylinder__main_container {
  background-color: white;
  width: 80%;
  margin: 30px 50px;
}

.filled_cylinder_3small {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.filled_cylinder_both_container {
  width: 95%;
  max-height: 430px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.filled_cylinder_4big {
  flex: 0.65;
  overflow-y: scroll;
}

.filled_cylinder_changeable_box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  overflow-y: scroll;
  max-height: 430px;
  flex: 0.3;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.filled_cylinder_table {
  display: flex;
  justify-content: space-between;
}
.filled_cylinder_left_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filled_cylinder_left_table > small {
  margin: 0px;
  padding: 0px;
  margin: 3px;
}

.filled_cylinder_right_table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filled_cylinder_right_table > small {
  margin: 0px;
  padding: 0px;
  margin: 3px;
}
