*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.update_vendor_container{
    /* border: 2px solid red; */
    width: 100%;
    min-height: 80vh;
    
}

.update_vendor_item{
    border-radius: 15px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 90%;
    min-height: 70vh;
    margin: auto;
    margin-top: 20px;
    
}

.update_vend0r_all_info{
    
    display: flex;
    justify-content: space-around;
    
   

}
.right_vendor_update{
    flex: 4;

}
.left_vendor_update{
    /* border: 2px solid gold; */
    flex: 4;
}
.update_vend0r_all_info input{
    margin:0px;
    padding: 8px;
    border-radius: 5px;
    width: 90%;
    /* background-color: aqua; */
}
.update_vend0r_all_info label{
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    color: grey;
    font-size: small;
}




@media screen and (max-width:600px) {
    .update_vend0r_all_info{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
   
    /* /* .add_driver_driverData input{
        margin:0px;
        margin-top: 0px !important;
        padding: 8px;
        border-radius: 5px;
        width: 90%;
     
    
    } */

    .left_vendor_update{
        margin: auto;
        width: 90%;
    }
    .right_vendor_update{
        margin: auto;
        width: 90%;
    }
     
  }