.empty_cylinder__main {
  display: flex;
  max-height: 100vh;
}
.empty_cylinder__container {
  width: 100%;
  background-color: #f5f5f5;
}

.empty_cylinder_main_container {
  background-color: white;
  width: 80%;
  margin: 30px 50px;
}

.empty_cylinder_3container {
  /* border: 2px solid red; */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}
.empty_cylinder_both_container {
  width: 90%;
  max-height: 430px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.empty_cylinder_4_small_container{
    flex:0.5;
    overflow-y: scroll;
}

.empty_cylinder_1_changeable_container{
  flex: 0.45;
  /* border: 2px solid red; */
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.empty_cylinder_1_changeable_container{
  display: flex;
  flex-direction: column;
}
.empty_cylinder_1_changeable_container small{
  margin: 0px;
  padding: 0px;
}
