.Big4_filled_container_box {
    width: 95%;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  