.show_particular_agency__main {
  max-height: 75vh;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
}
.show_particular_agency__nameedit {
  display: flex;
  justify-content: space-between;
}

.show_particular_agency_dataContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
.show_particular_agency_dataContainer small {
  margin: 0px;
  padding: 0px;
  width: 25%;
  margin-top: 10px;
}

.show_particular_agency_bothtable {
  /* border: 2px solid red; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.show_particular_agenct_firsttable {
  flex: 0.45;
  /* border: 2px solid gray; */
}
.show_particular_agenct_secondtable {
  flex: 0.45;
  /* border: 2px solid gray; */
}

.show_particular_devivery_table {
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
.show_particular_financial_table {
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
}
table tr {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
}
table th {
  font-size: 12px;
  font-weight: 500;
  color: gray;
}
